<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <a href="/"><h3>Danh sách sản phẩm</h3></a>
    <h2>Thêm sản phẩm</h2>
    <form action="/" method="POST">
        <div class="form-group">
            <label>Tên sản phẩm</label>
            <input class="form-control" type="text" name='productName'>
        </div>
        <div class="form-group">
            <label>Hãng sản suất</label>
            <input class="form-control" type="text" name='productType'>
        </div>
        <input id="add-btn" class="btn btn-primary" type="submit" value="Thêm">
    </form>
</div>
</body>